body{
    padding: 35px;
    font-family: poppins;
}

.nav-items {
    float: left;
    margin-left: 300px;
}
h5.nav-item {
    float: left;
    margin-left: 70px;
    font-size: small;
    font-weight: 900;
}
.active-item{
    color:#fe5e35;
}
body > nav > img:nth-child(1) {
    float: left;
}
body > nav > img:nth-child(3) {
    float: right;
}
.left-section {
    float: left;
}
.right-section {
    float: right;
}
body > div > div.left-section > h3 {
    font-size: xx-large;
}
body > div > div.left-section > h3 > img {
    position: relative;
    left: 20px;
    top: 10px;
}
body > div > div.left-section > h1 {
    font-size: 4em;
    font-family: Fredoka One;
    font-weight: 100;
}
.plusicon {
    width: 30px;
    height: 30px;
    background: #fe5e35;
    float: left;
    position: relative;
  
    text-align: center;
    left: 70px;
    border-radius: 50%;
    color: white;

}
.sub-headlines {
    font-size: x-large;
}
.icontext {
    position: relative;
    left: 90px;
}

p.text {
    width: 750px;
    color: gray;
}
body > div > div.right-section > div.headphone-div > img:nth-child(3) {
    position: relative;
    /* top: 0px; */
    z-index: 1;
}
.headphone-div {
    display: flex;
    justify-content: center;
}
img.discount {
    position: absolute;
    z-index: 2;
    top: 59.5%;
    right: 510px;
    box-shadow: grey;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
.discount-content {
    position: relative;
    top: 363px;
    left: 78px;
    color: white;
    z-index: 2;
}
h1 {
    font-size: 36px;
    margin: 0px;
    position: relative;
    top: -24px;
}
button.action-btn {
    width: 152px;
    background: #fe5e35;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: larger;
    height: 44px;
    margin-left: 10px;
}
@media only screen and (max-width: 600px) {
    body {
    padding: 25px;
  }
  nav{
    display: flex;
  }
  .nav-items{
    display: none;
   
  }
  .img{
    margin-left: 150px;
  }
  .text{
    width: 200px;
  }
  p.text{
    width: 600px;
  }
  body > div > div.right-section > div.headphone-div > img:nth-child(3) {
    position: relative;
    top: 105px;
    left: 110px;
    width: 80px;
    z-index: 1;
}
img.discount {
    position: absolute;
    z-index: 2;
    top: 1100.85px;
    /* right: 510px; */
    right: 208px;
    width: 100px;
    box-shadow: grey;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
.discount-content {
    position: relative;
    top: 349px;
    left: 193px;
    color: white;
    z-index: 2;
}
button.action-btn.cart {
    position: relative;
    top: 120px;
    left: 270px;
}
.left-section {
    float: left;
    position: absolute;
    top: 850px;
}
.headphone-div {
    display: flex;
    /* justify-content: center; */
}
img.discount {
    position: absolute;
    z-index: 2;
    top: 440.85px;
    /* right: 510px; */
    right: 330px;
    width: 100px;
    box-shadow: grey;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
.discount-content {
    position: relative;
    top: 449px;
    left: 76px;
    color: white;
    z-index: 2;
}
body > div > div.right-section > div.headphone-div > img:nth-child(3) {
    position: relative;
    top: 105px;
    left: 260px;
    width: 580px;
    z-index: 1;
}
button.action-btn.cart {
    position: relative;
    top: 120px;
    left: 170px;
}
.discount-content {
    position: relative;
    top: 488px;
    left: 364px;
    color: white;
    z-index: 2;
}

img.discount {
    position: absolute;
    z-index: 2;
    top: 550.85px;
    right: 508px;
    right: 209px;
    width: 150px;
    box-shadow: grey;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
button.action-btn.cart {
    position: relative;
    top: 120px;
    left: 500px;
}
}